:root{
    --red: #E50914;
    --black: #141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--black);
    font-family: 'Kanit', sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 10px;
    color: var(--red);
    font-size: 40px;
    font-weight: 500;
}

header nav{
    margin-left: 25px;
}

header nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

header nav a:hover{
    color: #AAA;
}

.container{
    margin-left: 20px;
    margin-right: 20px;
}

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 100px 5px 15px;

}

footer .social i{
    margin-left: 25px;
    font-size: 24px;
}

footer a{
    text-decoration: none;
    color: white;
}

button a{
    text-decoration: none;
    color: inherit;
}

.info{
    font-weight: 100;
    color: gray;
}

.notifications a{
    margin-left: 20px;
}