/*Main movie*/

.main-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.50)100%), url('./img/banner_peaky_blinders.jpg');
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-movie .description{
    margin-top: 10px;
    margin-bottom: 40px;
}

.main-movie .title{
    margin-top: 10%;
    font-size: 40px;
}

.class-button{
    background-color: rgba(179, 179, 179, 0.85);
    border: none;
    color: white;
    border-radius: 5px;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    transition: .3s ease all;
}

.play-button{
    background-color: white;
    color: black;
}

.class-button:hover{
    background-color: rgba(179, 179, 179, 0.5);
}

.play-button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.class-button i{
    margin-right: 8px;
}

.main-movie .container{
    width: 70%;
}

.box-movie{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movies{
    margin-top: 5px;
}